.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 50vmin;
  pointer-events: none;
  font-size: 70px;
  padding-left: 100px;
  padding-top: 160px;
  margin-left: -650px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 10px;
}

ol, ul {
  padding-left: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  text-align: center;
  width: 84px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.squareGreen {
  background-color: #00FF00; /* Green */
height: 34px;
  width: 34px;	
border-color : #00FF00;
padding:0px;
outline:none;border: none;
font-size: 0;
float: left;
}

.squareYellow {
   background-color: #ffff00;
  border-color : #ffff00;
  height: 34px;
  width: 34px;
padding:0px;
outline:none;border: none;
font-size: 0;
float: left;
}
.squareBlack {
   background-color: 	#244111;
  border-color :#244111;
  height: 34px;
  width: 34px;padding:0px;border: none;
outline:none;
font-size: 0;
float: left;
}
.squareBlue {
   background-color: #008CBA;
  border-color : #008CBA;
  width: 34px;
height: 34px;padding:0px;
outline:none;border: none;
font-size: 0;
float: left;
}
.squareRed {
   background-color: #ff0000 ;
 border-color : #ff0000 ;
height: 34px;
  width: 34px;padding:0px;
outline:none;border: none;
font-size: 0;
float: left;
}
.newgame{
  height: 54px;
  width: 84px;padding:0px;
  font-size: 14px;
}

.squareGreen1 {
  background-color: #00FF00; /* Green */
padding:5px;
outline:none;border: none;
float: left;

height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}

.squareYellow1 {
   background-color: #ffff00;
  border-color : #ffff00;
  padding:5px;
outline:none;border: none;
float: left;

height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}
.squareBlack1 {
   background-color:  #244111;
  padding:5px;
outline:none;border: none;
float: left;

height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}
.squareBlue1 {
   background-color: #008CBA;
  border-color : #008CBA;
  padding:5px;
outline:none;border: none;
float: left;

height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}
.squareRed1 {
   background-color: #ff0000 ;
 border-color : #ff0000 ;
 padding:5px;
outline:none;border: none;
float: left;

height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}